[submodule "themes/tarneo.fr"]
	path = themes/tarneo.fr
	url = https://github.com/tarneaux/tarneo.fr
[submodule "themes/renny"]
	path = themes/renny
	url = https://github.com/tarneaux/renny
[submodule "content/textes"]
	path = content/textes
	url = https://github.com/renn-es/textes
